@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Inter:wght@200;400;700&display=swap');

@base{
  ::-webkit-scrollbar {
    display: none;

  }
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@component{
  /* .slider::-webkit-scrollbar{
    display: none;
  }
  .slider{
    -ms-overflow-style: none;
    scrollbar-width: none;
  } */
}

  /* @keyframes slide {
    0%{
      -webkit-transform: translate3d(0, -100%, 0) translateX(-50%);
      transform: translate3d(0, -100%, 0) translateX(-50%);
      opacity: 0;
    }
    90%{
      opacity: 0.4;
    }
    95%{
        opacity: 0.9;
      }
    100% {
      -webkit-transform: translate3d(0, 0, 0)translateX(-50%);
      transform: translate3d(0, 0, 0) translateX(-50%);
      opacity: 1
    }
  }

  @keyframes displayDropdown {
    0%{
        opacity: 0;
        transform: scaleY(0)
    }
    50%{
        opacity: 1;
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1);
        opacity: 1;
    }
    
} */