@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Inter:wght@200;400;700&display=swap');

@base{
  ::-webkit-scrollbar {
    display: none;

  }
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@component{
  .slider::-webkit-scrollbar{
    display: none;
  }
  .slider{
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
}

.heart1{animation: heartLeaving1 1s linear forwards;}
.heart2{animation: heartLeaving2  1s .1s linear forwards;}
.heart3{animation: heartLeaving2  1s .2s linear forwards;}

@keyframes slide {
  0%{
    -webkit-transform: translate3d(0, -100%, 0) translateX(-50%);
    transform: translate3d(0, -100%, 0) translateX(-50%);
    opacity: 0;
  }
  90%{
    opacity: 0.4;
  }
  95%{
      opacity: 0.9;
    }
  100% {
    -webkit-transform: translate3d(0, 0, 0)translateX(-50%);
    transform: translate3d(0, 0, 0) translateX(-50%);
    opacity: 1
  }
}

@keyframes displayDropdown {
  0%{
      opacity: 0;
      transform: scaleY(0)
  }
  50%{
      opacity: 1;
  }
  80% {
      transform: scaleY(1.1)
  }
  100% {
      transform: scaleY(1);
      opacity: 1;
  }
}

@keyframes heartLeaving1 {
  to {
    transform: translateY(40px);
    opacity: 0;
  }
}

@keyframes heartLeaving2 {
  to {
    transform: translate(-20px, 20px)rotate(-45deg);
    opacity: 0;
  }
}

@keyframes heartLeaving3 {
  to {
    transform: translate(20px, -20px)rotate(45deg);
    opacity: 0;
  }
}